* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #d3cdb9;
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  padding-top: 0px;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding: 0 15px;
}
a {
  text-decoration: none;
  color: gray;
  font-weight: 800;
}
.hero{
  /* position: relative; */
}
.appo {
  padding: 0 5px;
  font-weight: 800;
}
a:hover {
  color: blue;
}
.appo:hover {
  background-color: blue;
  cursor: pointer;
  color: aliceblue;
  border-radius: 7px;
}
/* 브라우저 가로가 768이하일 때 */
@media screen and (max-width: 768px) {
  nav {
    height: 170px;
    align-items: flex-start;
  }
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li {
    line-height: 2;
  }
  .fa-fax,
  .appo {
    /* visibility: hidden; */
    /* 눈에서만 안보인다 */
    display: none;
    /* 자리 자체 차지하지 않는다 */
  }
}
